body {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans",  sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
